$dark-green: #014700;
$main-green: #007355;
$light-green: #7EC636;

.heading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.trans-type {
    grid-area: 1 / 1 / 2 / 2;

    margin-left: 10%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
}

.title {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

h2 {
    color: $main-green;
    text-align: center;
}

::ng-deep .trans-drop-down {
    width: 62%;
    margin: 0;
    display: inline-flex;
}

.chart {
    grid-area: 2 / 1 / 3 / 4;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 768px) {
    .heading {
        grid-template-columns: 0.5fr 2.5fr;
    }

    .title {
        font-size: 1.2rem;
    }

    .trans-type {
        margin-left: 10px;
        justify-content: flex-start;

        .trans-drop-down {
            width: 120px;
        }
    }
}