<div class="heading">
    <div class="trans-type">
        <mat-form-field appearance="fill" class="full-width" class="drop-down">
            <mat-label>Reporting Period</mat-label>
            <mat-select [formControl]="transTypeControl" class="select-box">
                <mat-option value="" disabled>Please select a transaction type</mat-option>
                <mat-option value="income">Income</mat-option>
                <mat-option value="expense">Expenses</mat-option>
                <mat-option value="savings">Savings</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <h2 class="title">{{ transType }} Breakdown By Category</h2>

    <div class="chart">
        <ag-charts [options]="options" style="height:100%; width: 100%"></ag-charts>
    </div>
</div>