$dark-green: #014700;
$main-green: #007355;
$light-green: #7EC636;

.heading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.trans-type {
    grid-area: 1 / 1 / 2 / 2;

    margin-left: 10%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
}

.title {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

h2 {
    color: $main-green;
    text-align: center;
}

::ng-deep .drop-down {
    width: auto;
    margin: 0;
    display: inline-flex;
}

.chart {
    grid-area: 2 / 1 / 3 / 4;
    margin: auto;
    display: flex;
    justify-content: center;
}