$dark-green: #014700;
$main-green: #007355;
$light-green: #7EC636;

form {
    width: 80% !important;
}

button {
    flex-shrink: 0;
    align-self: center;
    background-color: $main-green;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1.25rem;
    cursor: pointer;

    &:hover {
        background-color: $dark-green;
    }
}

.add_button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.title {
    margin-bottom: 1rem !important;
}

hr.rounded {
    border-top: 4px solid $main-green;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 2rem;
}

.subheading {
    color: $light-green;
    align-self: flex-start;
    margin-top: 0 !important;
}

.total {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.budget-item {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
}

.cat {
    grid-area: 1 / 1 / 2 / 2;
}

.amount {
    grid-area: 1 / 2 / 2 / 3;
}

.del {
    grid-area: 1 / 3 / 2 / 4;
    margin-bottom: 2.25rem;
}

@media (max-width: 932px) {
    mat-error {
        margin-top: -0.25rem !important;
        font-size: 10px;
        width: 5rem;
        margin-left: -1rem
    }
}