<div class="table-container">
    <div class="table-title" *ngIf="currentUrl !== '/home'">
        {{ title }}
    </div>
    <div class="table-title home" *ngIf="currentUrl === '/home'">
        <div class="title" [routerLink]="['/transactions', transactionType]">{{ title }}</div>
        <div class="edit">
            <button mat-icon-button [routerLink]="['/log-transaction', transactionType]" [queryParams]="{ prev: currentUrl }" matTooltip="Add a Transaction">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <ag-grid-angular style="width: 100%;" [rowData]="rowData" [columnDefs]="colDefs" [gridOptions]="gridOptions" [pinnedBottomRowData]="total"
        (gridReady)="onGridReady($event)" />
    <div class="search-bar">
        <span class="label">Search all fields:</span>
        <input class="search" type="text" [id]="timeFrame + '-' + transactionType" placeholder="Search..." (input)="onFilterTextBoxChanged()" />
    </div>
</div>