<app-nav-bar></app-nav-bar>
<h1>{{ transactionTypeText }}</h1>
<app-bank-balance (calculatexTotal)="receiveTotal($event)" [pageType]="transactionType"></app-bank-balance>
<div class="tables-container">
    <app-transaction-table class="upcoming-table" timeFrame="upcoming" [transactionType]="transactionType || ''"
        [userID]="currentUser.user_id" [currencySymbol]="currencySymbol"></app-transaction-table>
    <app-transaction-table class="past-table" timeFrame="past" [transactionType]="transactionType || ''"
        [userID]="currentUser.user_id" [currencySymbol]="currencySymbol"></app-transaction-table>
</div>
<div class="goals-container" *ngIf="transactionType === 'savings' && total !== undefined">
    <app-display-savings-goals class="ranking-list"
        [userID]="currentUser.user_id" [amountSaved]="total" [currencySymbol]="currencySymbol"></app-display-savings-goals>
</div>