<app-nav-bar></app-nav-bar>

<div class="content">
    <h3 class="title">Register</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label id="user" class="label"><span style="color:red">*</span> Username:</label>
        <input type="text" id="user" formControlName="username" class="input" required />
        <div class="error"
            [ngClass]="{ 'show-error': username.touched && (username.hasError('required') || username.hasError('nonUniqueVal')) }">
            <div *ngIf="username.touched">
                <div *ngIf="username.hasError('required')">
                    Username is required.
                </div>
                <div *ngIf="username.hasError('nonUniqueVal')">
                    This username already exists. Please pick another.
                </div>
            </div>
        </div>

        <label id="user" class="label"><span style="color:red">*</span> Email:</label>
        <input type="text" id="email" formControlName="email" class="input" required />
        <div class="error"
            [ngClass]="{ 'show-error': email.touched && (email.hasError('required') || email.hasError('nonUniqueVal')) }">
            <div *ngIf="email.touched">
                <div *ngIf="email.hasError('required')">
                    Email is required.
                </div>
                <div *ngIf="email.hasError('nonUniqueVal')">
                    This email is already in use. Please use another.
                </div>
            </div>
        </div>

        <label id="password" class="label"><span style="color:red">*</span> Password:</label>
        <input type="password" id="password" formControlName="password" required class="input" />
        <div class="error" [ngClass]="{ 'show-error': password.errors?.['required'] && password.touched }">Password is
            required.</div>

        <label id="password_confirm" class="label"><span style="color:red">*</span> Confirm Password:</label>
        <input type="password" id="password_confirm" formControlName="password_confirm" required class="input" />
        <div class="error"
            [ngClass]="{ 'show-error': password_confirm.touched && (password_confirm.hasError('required') || password_confirm.hasError('passwordMismatch')) }">
            <div *ngIf="password_confirm.touched">
                <div *ngIf="password_confirm.hasError('required')">
                    Please confirm your password.
                </div>
                <div *ngIf="password_confirm.hasError('passwordMismatch')">
                    Passwords do not match.
                </div>
            </div>
        </div>

        <label id="user" class="label"><span style="color:red">*</span> Default Currency:</label>
        <select name="currency" id="currency" formControlName="default_currency" class="input" required>
            <option value="">Please select a currency type</option>
            @for (curr of currencyList; track curr) {
            <option [value]="curr.code">{{ curr.name }}</option>
            }
        </select>
        <div [ngClass]="{ 'show-error': default_currency.errors?.['required'] && default_currency.touched }"
            class="error">A default currency is required.</div>

        <label id="user" class="label">Starting Balance:</label>
        <input type="number" id="starting_balance" formControlName="starting_balance" class="input" required />

        <button class="submit_button" type="submit">Register</button>
    </form>
    <p class="login_text">Already registered? <a routerLink="/login">Login Here!</a></p>
</div>