<app-nav-bar></app-nav-bar>

<div class="content">
    <h3 class="title">Register</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" required />
            <mat-error *ngIf="username.touched && username.hasError('required')">
                Username is required.
            </mat-error>
            <mat-error *ngIf="username.touched && username.hasError('nonUniqueVal')">
                This username already exists. Please pick another.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required />
            <mat-error *ngIf="email.touched && email.hasError('required')">
                Email is required.
            </mat-error>
            <mat-error *ngIf="email.touched && email.hasError('nonUniqueVal')">
                This email is already in use. Please use another.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required />
            <mat-error *ngIf="password.touched && password.hasError('required')">
                Password is required.
            </mat-error>
            <mat-error *ngIf="password.touched && password.hasError('passwordStrength')">
                Your password must have lower case, upper case and numeric characters.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="password_confirm" required />
            <mat-error *ngIf="password_confirm.touched && password_confirm.hasError('required')">
                Please confirm your password.
            </mat-error>
            <mat-error *ngIf="password_confirm.touched && password_confirm.hasError('passwordMismatch')">
                Passwords do not match.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Default Currency</mat-label>
            <mat-select formControlName="default_currency" required>
                <mat-option value="" disabled>Please select a currency type</mat-option>
                <ng-container *ngFor="let curr of currencyList.slice(0, 3)">
                    <mat-option [value]="curr.code">{{ curr.name }}</mat-option>
                </ng-container>
                <mat-divider></mat-divider>
                <ng-container *ngFor="let curr of currencyList.slice(3)">
                    <mat-option [value]="curr.code">{{ curr.name }}</mat-option>
                </ng-container>
            </mat-select>
            <mat-error *ngIf="default_currency.touched && default_currency.hasError('required')">
                A default currency is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Starting Balance</mat-label>
            <input matInput type="number" formControlName="starting_balance" />
        </mat-form-field>


        <mat-checkbox formControlName="consent" required>Evergreen Budgeting is for educational purposes only. While I
            strive to protect your data, I cannot guarantee complete security. By using this app, you acknowledge and
            accept these risks.</mat-checkbox>
        <mat-error *ngIf="consent.touched && consent.hasError('required')">
            Your consent is required to progress registering.
        </mat-error>

        <button mat-raised-button color="primary" type="submit" class="submit_button">
            Register
        </button>
    </form>

    <p class="link_text">Already registered? <a routerLink="/login">Login Here!</a></p>
</div>