$dark-green: #014700;
$main-green: #007355;
$light-green: #7EC636;


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 600px;
    padding: 2rem;
    border: 2px solid $main-green;
    border-radius: 8px;
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 0.5rem 0.75rem;                      
    width: 70%;
    margin: auto;                        
}

.submit_button {
    margin-top: 2rem;                             
    background-color: $light-green !important;
    color: white !important;
    cursor: pointer;
}

.submit_button:hover {
    background-color: white !important;
    color: $light-green !important;
}

.login_text {
    grid-column: 1 / 3;                    
    text-align: center;
    margin-top: 2rem;
}

.login_text a {
    color: $main-green;                        
    text-decoration: underline;
}

.title {
    grid-column: 1 / -1;                   
    font-size: 1.8rem;
    color: $light-green;                        
    margin-bottom: 2rem;
}

@media (max-width: 932px) {
    .label {
        font-size: 1rem;
        min-width: 95px;
    }

    .content {
        width: 65%
    }
}

select {
    height: 23px;
    width: 92% !important;
}

mat-form-field {
    margin-bottom: 16px;
    display: block;
}