<app-nav-bar></app-nav-bar>

<div class="content">
    <h3 class="title">Set a Savings Goal</h3>
    <form [formGroup]="savingsForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Savings Goal Name/Description</mat-label>
            <input matInput type="text" formControlName="name" required />
            <mat-error *ngIf="name.touched && name.hasError('required')">
                A name/description is required.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Target Amount</mat-label>
            <input matInput type="number" formControlName="target_amount" required />
            <mat-error *ngIf="target_amount.touched && target_amount.hasError('required')">
                The target amount for the goal is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Goal Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="goal_date" />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Starting Amount</mat-label>
            <input matInput type="number" formControlName="starting_amount" required />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="submit_button">
            Save
        </button>
    </form>
</div>
