<app-nav-bar></app-nav-bar>
<h1 class="text">Welcome {{ currentUser.username }}!</h1>

<div class="budget-table-container">
    <app-budget-table class="budget-table" [currentUrl]="currentUrl" [userID]="currentUser.user_id" [currencySymbol]="currencySymbol"></app-budget-table>
    <app-net-income-table class="net-table" [userID]="currentUser.user_id" [currencySymbol]="currencySymbol"></app-net-income-table>
    <app-savings-area class="savings-area" [userID]="currentUser.user_id" [currencySymbol]="currencySymbol"></app-savings-area>
</div>

<div class="trans-tables-container">
    <app-transaction-table class="income-table" timeFrame="upcoming" transactionType="income"
        [userID]="currentUser.user_id" [currencySymbol]="currencySymbol" [pageSize]="5" [currentUrl]="currentUrl"></app-transaction-table>
    <app-transaction-table class="expense-table" timeFrame="upcoming" transactionType="expense"
        [userID]="currentUser.user_id" [currencySymbol]="currencySymbol" [pageSize]="5" [currentUrl]="currentUrl"></app-transaction-table>
</div>