<app-nav-bar></app-nav-bar>
<h3>Welcome {{ currentUser.username }}!!</h3>

<a routerLink="/login">Login</a><br>
<a routerLink="/register">Register</a><br>
<a (click)="logout()">Log out</a>
<br><br>
<a [routerLink]="['/log-transaction', 'expense']" [queryParams]="{ prev: currentUrl }">Log Expense</a><br>
<a [routerLink]="['/log-transaction', 'income']" [queryParams]="{ prev: currentUrl }">Log Income</a><br>
<a [routerLink]="['/log-transaction', 'savings']" [queryParams]="{ prev: currentUrl }">Log Savings</a><br>
<a [routerLink]="['/log-transaction']" [queryParams]="{ prev: currentUrl }">Log (No Type)</a><br>
<br>
<a routerLink="/set-budget" [queryParams]="{ prev: currentUrl }">Set a Budget</a><br>
<a routerLink="/set-savings-goal" [queryParams]="{ prev: currentUrl }">Set a Savings Goal</a><br><br>

<a [routerLink]="['/transactions', 'expense']" [queryParams]="{ prev: currentUrl }">Expenses</a><br>
<a [routerLink]="['/transactions', 'income']" [queryParams]="{ prev: currentUrl }">Incomes</a><br>
<a [routerLink]="['/transactions', 'savings']" [queryParams]="{ prev: currentUrl }">Savings</a><br>