<app-nav-bar></app-nav-bar>

<div class="content">
    <h3 class="title">Sign In</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Username/Email:</mat-label>
            <input matInput type="text" formControlName="username_or_email" required />
            <mat-error *ngIf="username_or_email.errors?.['required'] && username_or_email.touched">
                Username/Email is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password:</mat-label>
            <input matInput type="password" formControlName="password" required />
            <mat-error *ngIf="password.errors?.['required'] && password.touched">
                Password is required.
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="submit_button" type="submit">Sign In</button>
    </form>
    <p class="link_text">New to Evergreen? <a routerLink="/register">Register Here!</a></p>
</div>
