<div class="nav-area-web">
    <div class="content">
        <img class="logo" src="/imgs/evergreen-logo.png" routerLink="/home">
        <div class="menu-options home" routerLink="/home" routerLinkActive="active">
            <button mat-menu-item>
                Home
            </button>
        </div>
        <div class="menu-options transactions" [matMenuTriggerFor]="transactionsMenu" #menuTrigger="matMenuTrigger"
        (mouseenter)="mouseEnter(menuTrigger)" (mouseleave)="mouseLeave(menuTrigger)">
            <button mat-menu-item select="[trigger]">
                Transactions
            </button>
        </div>
        <mat-menu #transactionsMenu="matMenu" [hasBackdrop]="false">
            <div (mouseenter)="mouseEnter(menuTrigger)" (mouseleave)="mouseLeave(menuTrigger)" class="open-menu">
                <ng-content select="[content]">
                    <button mat-menu-item [routerLink]="['/transactions', 'expense']">
                        <mat-icon>shopping_cart</mat-icon>
                        <span>Expenses</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/transactions', 'income']">
                        <mat-icon>add_card</mat-icon>
                        <span>Income</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/transactions', 'savings']">
                        <mat-icon>savings</mat-icon>
                        <span>Savings</span>
                    </button>
                </ng-content>
            </div>
        </mat-menu>
        <div class="menu-options budget" routerLink="/budget" routerLinkActive="active">
            <button mat-menu-item>
                Budget
            </button>
        </div>
        <div class="menu-options reports" routerLink="/reports" routerLinkActive="active">
            <button mat-menu-item>
                Reports
            </button>
        </div>
        <div class="menu-options logout" *ngIf="loggedIn">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                Log Out
            </button>
        </div>
        <div class="menu-options logout" routerLink="/login" routerLinkActive="active" *ngIf="!loggedIn">
            <button mat-menu-item>
                <mat-icon>login</mat-icon>
                Log In
            </button>
        </div>
    </div>
</div>

<div class="nav-area-phone">
    <div class="content-phone">
        <div class="menu-area">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu" [hasBackdrop]="false">
                <button mat-menu-item routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
                <button mat-menu-item [matMenuTriggerFor]="nestedMenu">
                    <mat-icon>point_of_sale</mat-icon>
                    <span>Transactions</span>
                </button>
                <button mat-menu-item routerLink="/budget">
                    <mat-icon>receipt_long</mat-icon>
                    <span>Budget</span>
                </button>
                <button mat-menu-item routerLink="/reports">
                    <mat-icon>analytics</mat-icon>
                    <span>Reports</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Log Out</span>
                </button>
            </mat-menu>

            <mat-menu #nestedMenu="matMenu" [hasBackdrop]="false">
                <button mat-menu-item [routerLink]="['/transactions', 'expense']">
                    <mat-icon>shopping_cart</mat-icon>
                    <span>Expenses</span>
                </button>
                <button mat-menu-item [routerLink]="['/transactions', 'income']">
                    <mat-icon>add_card</mat-icon>
                    <span>Income</span>
                </button>
                <button mat-menu-item [routerLink]="['/transactions', 'savings']">
                    <mat-icon>savings</mat-icon>
                    <span>Savings</span>
                </button>
            </mat-menu>
        </div>
        <img class="logo-phone" src="/imgs/evergreen-logo.png" routerLink="/">
    </div>
</div>