<div class="nav-area-web">
    <div class="content">
        <img class="nav-bar-icons home" src="/imgs/home-icon.jpeg" routerLink="/home">
        <img class="nav-bar-icons profile" src="/imgs/profile-icon.jpeg" routerLink="/profile">
        <h1 class="title">Evergreen Budgeting</h1>
        <img class="nav-bar-icons settings" src="/imgs/settings-icon.jpeg" routerLink="/settings">
        <img class="nav-bar-icons reports" src="/imgs/reports-icon.jpeg" routerLink="/reports">
    </div>
</div>

<div class="nav-area-phone">
    <div class="content-phone">
        <div class="menu-area">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu" style="text-align: center">
                <button mat-menu-item routerLink="/profile">
                    <mat-icon>perm_identity</mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item routerLink="/settings">
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                </button>
            </mat-menu>
        </div>
        <img class="nav-bar-icons home-phone" src="/imgs/home-icon.jpeg" routerLink="/home">
        <h1 class="title">Evergreen Budgeting</h1>
        <img class="nav-bar-icons reports-phone" src="/imgs/reports-icon.jpeg" routerLink="/reports">
    </div>
</div>