$dark-green: #014700;
$main-green: #007355;

.nav-bar-icons {
    width: 2rem;
    height: 2rem;
    display: block; 
    margin: auto;
    cursor: pointer;
}

.nav-bar-icons:hover {
    border: 0.2rem solid $dark-green;
    border-radius: 5px;
}

h1 {
    font-family: "papyrus";
    color: $dark-green;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    display: block;
}

mat-icon {
    color: $main-green !important;
}

.nav-area-web {
    display: flex;
}

.nav-area-phone {
    display: none;
}

.nav-area-web, .nav-area-phone {
    justify-content: center;
    align-items: center;
    border-bottom: 0.25rem solid $dark-green;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%
}
    
.home { grid-area: 1 / 2 / 2 / 3;
}
.profile { grid-area: 1 / 3 / 2 / 4;  }

.logo { 
    grid-area: 1 / 1 / 2 / 2;
    width: 6rem;
    height: 6rem;
    display: block; 
    margin: auto;
}

.settings { grid-area: 1 / 4 / 2 / 5; }
.reports { grid-area: 1 / 5 / 2 / 6; }

.content-phone {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%
}

.menu-area { grid-area: 1 / 1 / 2 / 2; display: block; margin: auto }
.home-phone { grid-area: 1 / 2 / 2 / 3; }
.reports-phone { grid-area: 1 / 4 / 2 / 5; }

@media (max-width: 932px) {
    .nav-area-web {
        display: none;
    }
    
    .nav-area-phone {
        display: flex;
    }

    h1 {
        font-size: 1.25rem;
    }

    .nav-bar-icons {
        width: 1.5rem;
        height: 1.5rem
    }
}